* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #7A6D46;
    font-family: "Open Sans", sans-serif;
}
.signup-container {
    background-color:#FAF9F6;
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.signup-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: 	#7A6D46;
}
.form-group {
    margin-bottom: 1rem;
}
.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color:#3A3115;
}
.form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}
.form-group input:focus {
    border-color: #7A6D46;
    outline: none;
}
.signup-btn {
    width: 50%;
    padding: 0.75rem;
    background-color: #7A6D46;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    cursor: pointer;
    border-style: solid;
    border-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.signup-btn:hover {
    background-color: white;
    color: #7A6D46;
    border-color:#7A6D46;
}
.login-link {
    display: block;
    text-align: center;
    margin-top: 1rem;
    color: #555;
    text-decoration: none;
}
.login-link:hover {
    text-decoration: underline;
}

.social-media {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    margin: 1.5rem 0; 
}

.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    padding: 0.75rem;
    font-size: 0.9rem; 
    color: #fff; 
    border-radius: 4px; 
    text-decoration: none; 
    transition: all 0.3s; 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.google-btn {
    background-color: #db4437;
}

.google-btn:hover {
    background-color: #c23b2a; 
    box-shadow: 0 4px 8px rgba(219, 68, 55, 0.3); 
}

.linkedin-btn {
    background-color: #0077b5; 
}

.linkedin-btn:hover {
    background-color: #005e93; 
    box-shadow: 0 4px 8px rgba(0, 119, 181, 0.3); 
}

.social-btn i {
    margin-right: 8px; 
}
.divider {
    border: none; 
    height: 1px; 
    background-color: #ddd; 
    margin: 1.5rem 0; 
}